<div class = "user-box">
  <div class="logo"></div>
  <div class="user-info">
    <p class="user-name">
      <%= user.Name %>
    </p>
    <p class="posts-number">
      Number of posts:
      <%= user.PostCounter || 0 %>
    </p>
  </div>
</div>
